* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color:#242529;
    text-decoration: none;
}
a:visited {
    color:#242529;
    text-decoration: none;
}
a:hover {color:#73cee6;}

body {
    background-image: linear-gradient(to right, #f3f725 , #f0e10c);
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

main.calculator {
    max-width: 300px;
    min-height: 30vh;
    margin-bottom: 1rem;
}

main h2 {
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}

main h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100px;
    bottom: 1px;
    border-radius: 8px;
    background: black;
}

main.calculator .numeric {
    border: 1px solid #f0f0f5;
    width: 70px;
    height: 70px;
    display: inline-block;
    background: #191a1c;
    color: #969ea5;
    font-size: 15px;
    text-align: center;
    vertical-align: middle !important;
    padding-top: 20px;
    cursor: pointer;
}

.numeric:active {
    background: #f0f0f5 !important;
    color: #191a1c !important;
}

.action {
    background: #242529;
}

.result {
    width: 145px !important;
}

.visor {
    width: 295px;
    height: 120px;
    background: #f6f7fa;
}

.total {
    color: #242529;
    width: 280px;
    font-size: 70px;
    text-align: right;
    padding-right: 10px;
}

.acc {
    color: #c5c5c5;
    width: 280px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

footer.numeric {
    padding: 0.4rem;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}